body {
    background-color: rgba(144, 147, 160, 0.199);
}

.project {
    font-size: 22px;
    color: black;
    font-family:'Times New Roman', Times, serif;
}

.table-levels-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.table-cell {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.table-cell .form-label {
    text-align: center;
}

.table-cell section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.table-cell section input {
    width: 30%;
}

.btn-primary {
    width: 150px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}